<div th:fragment="termsAndAggrement">
	<div id="termsAndAggrement" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-lg modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h6 class="modal-title">TERM & CONDITIONS</h6>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<h6 class="font-weight-semibold">The following terms shall
						have the meanings ascribed below</h6>
					<ul>
						<li><p>
								<b>"Agreement"</b> shall mean this Business Associates,
								Distributor Agreement, Merchant/Business Associates in its
								entirety, including all content which is referenced or
								hyperlinked in this Agreement
							</p></li>
						<li><p>
								<b>"Term"</b> shall mean the period commencing from the date of
								acceptance of this Agreement by the Merchant/Business Associates
								up to the termination of this Agreement in accordance with
								Clause 9 as provided herein below;
							</p></li>

						<li><p>
								<b>"Territory"</b> shall mean the Republic of India.
							</p></li>
						</p>
					</ul>

					<hr>
					<ol>
						<h6 class="font-weight-semibold">DEFINITIONS</h6>
						<p>2. The following terms shall have the meanings ascribed
							below: o &ldquo;Agreement&rdquo; shall mean this Business
							Associates, Distributor Agreement, Merchant/Business Associates
							in its entirety, including all content which is referenced or
							hyperlinked in this Agreement o &ldquo;Term&rdquo; shall mean the
							period commencing from the date of acceptance of this Agreement
							by the Merchant/Business Associates up to the termination of this
							Agreement in accordance with Clause 9 as provided herein below; o
							&ldquo;Territory&rdquo; shall mean the Republic of India.</p>

						<li><p>3. REPRESENTATION AND WARRANTIES 2.1 The Parties
								hereby represent and warrant to each other as under: o The
								Parties have all requisite power and authority to execute the
								Agreement, deliver and perform their obligations under this
								Agreement and have been fully authorized by all requisite
								corporate actions to do so; and o The execution and performance
								of this Agreement by either Party does not and will not violate
								any provision of any existing agreement, law, rule, regulation,
								any order or judicial pronouncement. o &ldquo;Territory&rdquo;
								shall mean the Republic of India. o &ldquo;PSPL&rdquo; shall
								means Pswitch Services Pvt Ltd 2.2 The Merchant/Business
								Associates undertakes that at all times during the term of this
								Agreement it will: o abide by the terms and conditions of the
								Agreement and all other policies issued by PSPL with respect to
								the Platform and the Merchant/Business Associates Panel and as
								may otherwise be applicable to the Merchant/Business Associates;
								and o Ensure its compliance with all applicable laws, rules,
								regulations, governmental orders, etc. and applicable codes of
								practice, now or hereafter in effect, relating to its
								performance under this Agreement. 2.3 The Merchant/Business
								Associates agrees, acknowledges and understands that: o The
								Merchant/Business Associates is using the Platform provided and
								owned by PSPL o The permission granted by PSPL to use the
								Platform in the manner set forth in this Agreement is on a
								non-exclusive basis; o PSPL reserves the right to deny access to
								or revoke such permission to use the Platform at any time; o
								PSPL shall have the right to remove any information displayed by
								the Merchant/Business Associates on the Platform, at any time on
								receiving a complaint in respect of the content of such
								information; o For the duration of the Term, the Platform and
								Merchant/Business Associates Panel shall be maintained by PSPL.
								The ownership of the Platform and Merchant/Business Associates
								Panel shall vest with PSPL and PSPL shall make its best efforts
								to deal with any technical issues affecting the Platform and
								Merchant/Business Associates Panel (such as, for instance, the
								Platform and/or Merchant/Business Associates Panel becoming
								inoperative). In such event, PSPL shall inform the
								Merchant/Business Associates, as soon as practicable, after the
								occurrence of a technical issue with the Platform and/or
								Merchant/Business Associates Panel including any actions that
								PSPL may have taken or intends to take in relation to such
								technical issue. Notwithstanding the above, PSPL does not
								warrant that the Merchant/Business Associates will be able to
								use the Platform and Merchant/Business Associates Panel at all
								times or that the Platform and/or Merchant/Business Associates
								Panel and the services provided through the Platform and/or
								Merchant/Business Associates Panel will be uninterrupted or
								error-free or that defects in this regard will be corrected by
								PSPL. o The Merchant/Business Associates shall be responsible
								for and bear all applicable taxes on transactions between it and
								the End User(s) through the Merchant/Business Associates Panel
								in terms of this Agreement including, but not limited to, GST. o
								PSPL shall, at all times, have the right and option to deduct /
								adjust any payments due to, or from, the Merchant/Business
								Associates in one transaction, against any payments due to, or
								from, the Merchant/Business Associates in other transactions. o
								It is stated that the transaction between End User(s)s and the
								Merchant/Business Associates in terms of this Agreement are
								bipartite contracts between such End User(s)s and the
								Merchant/Business Associates and the facility of the Platform
								and the Merchant/Business Associates Panel are merely used as a
								means of facilitating the discharge of the payment obligation of
								the End User(s) to the Merchant/Business Associates.</p></li>

						<li><p>4. INTELLECTUAL PROPERTY RIGHTS o Both Parties agree that
							the brands/logos, trademarks, etc., belonging to each Party are
							the exclusive property of the respective Party and cannot in any
							circumstances be used, copied, altered in any manner identical/
							similar or otherwise by the other Party without being
							specifically authorized in writing by the other Party.
							Merchant/Business Associates recognizes and confirms that PSPL
							has the exclusive right to supervise, allow and reject the
							contents of the Platform. o The Merchant/Business Associates
							hereby grants to PSPL the right to display/delist the
							Merchant/Business Associates Details (as updated or to be updated
							by the Merchant/Business Associates on the Merchant/Business
							Associates Panel at any/all times) and/or related logo and/or
							trademark and/or brand name, etc. owned by it or its business
							associates for marketing through the Platform. The
							Merchant/Business Associates represents that it has the necessary
							rights to grant such permission to PSPL and agrees to indemnify
							PSPL in respect of any claims, damages, losses etc., arising out
							of or in connection with violation of the same. o The
							Merchant/Business Associates hereby authorizes PSPL to use and
							include the Merchant/Business Associates&rsquo;s trademarks (as
							may be provided by the Merchant/Business Associates from time to
							time) and its corporate name on the Platform and in any directory
							or promotional material produced in connection with the promotion
							of the Platform.</p></li>

						<li><p>5. ANTI BRIBERY AND ANTI CORRUPTION POLICY o The Parties
							agree to conduct all their dealings in a very ethical manner and
							with the highest business standards. o The Merchant/Business
							Associates agrees to comply with &ldquo;Anti-Bribery and
							Anti-Corruption Policy&rdquo; issued by PSPL and adopt
							appropriate processes to prevent offering any illegal
							gratification in the form of bribes or gifts either in cash or in
							kind in the course of all dealings with PSPL or any other third
							parties for the purpose of this Agreement. Any instances of such
							violations will be viewed in a serious manner and PSPL reserves
							the right to take all appropriate actions or remedies as may be
							required under the circumstances</p></li>

						<li><p>6. LIABILITY PSPL shall not be held responsible or liable
							in the following respects: o In the event of any breach or delay
							in the fulfillment of the Merchant/Business Associates&rsquo;s
							obligations by the Merchant/Business Associates for any reason
							whatsoever; o Damage or injury caused to the Merchant/Business
							Associates, End User(s) or any third party arising out of the
							sale of the products/services by the Merchant/Business Associates
							to the End User(s) through the Platform or any loss incurred by
							the Merchant/Business Associates, End User(s) or any third party
							in this regard; o Any claims for compensation made by End
							User(s)s deriving from products purchased, delayed delivery or
							non-delivery of such products, or the quality or quantity of the
							products delivered; o Resolution of complaints and queries of End
							User(s)s with respect to products purchased, delayed delivery or
							non-delivery of such products, or the quality or quantity of the
							products delivered;</p></li>

						<li><p>7. CONFIDENTIALITY o The Merchant/Business Associates
							acknowledge that during the existence of this Agreement, the
							Merchant/Business Associates will have access to confidential
							information of PSPL and its affiliates. The Merchant/Business
							Associates shall keep confidential all data and other information
							supplied to it by PSPL under this Agreement and shall not sell or
							otherwise make that information available to any third parties.
							The terms of this Agreement with respect to confidential
							information shall not be affected by the termination or expiry of
							this Agreement. o The obligations under this Clause shall survive
							the termination of this Agreement.</p><li>

						<li><p>8. INDEMNIFICATION o The Merchant/Business Associates
							agrees and undertakes to indemnify and to hold harmless PSPL, its
							affiliates, successors, agents, assigns, and each of their
							directors, officers, employees, associates, agents, and
							representatives from and against any losses, damages, liability,
							claims, costs, penalty and expenses (including, without
							limitation, reasonable attorneys&rsquo; fees) incurred by reason
							of (i) any breach or alleged breach by the Merchant/Business
							Associates of the Merchant/Business Associates&rsquo;s
							obligations, representations, or warranties hereunder; (ii) any
							violation by the Merchant/Business Associates of applicable law
							or regulation; or (iii) any breach by the Merchant/Business
							Associates of any policies issued by PSPL.</p><li>

						<li><p>9. ASSIGNMENT o The rights and obligations under this
							Agreement shall not be assigned or transferred, whether
							voluntarily or involuntarily by the Merchant/Business Associates
							to any third party whomsoever, during the Term of this Agreement.
							o PSPL shall be entitled to transfer or assign its rights and
							obligations under this Agreement to a third party, however, a
							notification of such assignment will be given on the PSPL
							website.</p></li>

						<li><p>10. TERMINATION 9.1 This Agreement may be terminated: o By
							PSPL, with immediate effect, if the Merchant/Business Associates
							is in breach of any of its obligations, representations or
							warranties, or any other material terms as contained in this
							Agreement; o By Either Party for any reason, by giving the other
							Party a prior written notice of seven (7) days; or 9.2 On
							termination of this Agreement: o PSPL will, with immediate
							effect, block the account of the Merchant/Business Associates and
							the Merchant/Business Associates shall not be able to exhibit and
							promote its products on the Platform and/or Merchant/Business
							Associates Panel to End User(s)s thereafter; and o
							Merchant/Business Associates shall return to PSPL all the
							confidential information and all other properties and materials
							belonging to PSPL. Where the confidential information cannot be
							returned in material form, the Merchant/Business Associates shall
							destroy all of PSPL&rsquo;s confidential information and shall
							provide PSPL with a certificate of destruction with respect to
							the same. o In the event that this Agreement is terminated by
							PSPL for any reason whatsoever, the Merchant/Business Associates
							shall not have the right to re-register himself /itself as a
							Merchant/Business Associates on the Platform at any time after
							such termination, unless PSPL, in its discretion, permits such
							re-registration. o Without prejudice of the foregoing, the
							termination of this Agreement pursuant to any of the provisions
							contained herein above shall not limit or otherwise affect any
							other remedy (including a claim for damages), which either Party
							may have arising out of the event, which gave rise to the right
							of termination. o Termination of the Agreement shall not effect
							accrued rights and liabilities of the Parties.</p></li>

						<li><p>11. DISPUTE RESOLUTION, GOVERNING LAW AND JURISDICTION o If
							any dispute arises between the Parties hereto during the
							subsistence of this Agreement or thereafter, in connection with,
							or arising out of, this Agreement, the dispute shall be mediated
							and resolved by both the parties in best possible way. o The
							Agreement shall be governed by and construed in accordance with
							the laws of India. The courts of Bangalore, India, shall have
							exclusive jurisdiction in connection with this Agreement.</p></li>

						<li><p>12. AMENDMENT o PSPL may amend the terms and conditions of
							this Agreement at any time in its sole discretion by intimating
							the Merchant/Business Associates through notification on the
							Merchant/Business Associates Panel and/or by sending an email to
							the email ID provided in the Portal. It is the responsibility of
							the Merchant/Business Associates to review amendment
							notifications from time to time. Such amendments shall be deemed
							to have been accepted, if the Merchant/Business Associates
							continues to access the Platform and/or the Merchant/Business
							Associates Panel after the amendments are notified by PSPL. o
							PSPL may modify any other policies set out in the Platform such
							as the terms of service, the privacy policy and the copyright
							policy, at any time at its sole discretion and a notification of
							the change in policy will be sent to the registered email id of
							the Merchant/Business Associates / a notification of such change
							in policy will be reflected on the PSPL website. It is the
							responsibility of the Merchant/Business Associates to review the
							same from time to time. Such policies as amended shall be deemed
							to have been accepted, if the Merchant/Business Associates
							continues to access the Platform and/or the Merchant/Business
							Associates Panel after the posting of these modifications on the
							Platform</p></li>

						<li><p>13. MISCELLANEOUS o Force Majeure: Any delay in or
								failure of performance of any obligations by the
								Merchant/Business Associates under this Agreement shall not
								constitute default hereunder if and to the extent caused by
								force majeure, which is defined to be occurrences beyond the
								reasonable control of the Merchant/Business Associates
								committing default, including but not limited to acts of the
								government authorities, acts of God, fire, flood, explosion,
								riots, war, rebellion, insurrection, sabotage and
								non-cooperation of third parties. o Entire Agreement: This
								Agreement shall constitute the full and complete Agreement
								between the Parties hereto relating to the subject matter
								thereof, and there are no oral statements, representations,
								warranties, undertakings or agreements between the Parties
								except as provided herein. This Agreement supersedes/cancels all
								prior communications, understandings and agreements between the
								Parties hereto. o Notices: Any notice or other communication to
								be given hereunder will be in writing and given by facsimile,
								post-paid registered or certified mail return receipt requested,
								or electronic mail (with a copy concurrently mailed as set forth
								above). The date of receipt shall be deemed the date on which
								such notice is given. Notice hereunder will be directed to a
								Party at the address for such Party set forth in this Agreement.
								o Waiver: Either Party may exercise a right, power or remedy at
								its discretion and separately or concurrently with another
								right, power or remedy. No failure or delay on part of any Party
								hereto exercising any right, power or privilege hereunder shall
								operate as a waiver thereof, nor shall any single or partial
								exercise of any right, power or privilege hereunder preclude any
								other or further exercise thereof or the exercise of any other
								rights, powers or privileges by such Party. o Severability: Any
								provision of this Agreement that is prohibited or unenforceable
								in any jurisdiction will, as to such jurisdiction, be
								ineffective to the extent of such prohibition or
								unenforceability without invalidating the remaining portions
								hereof or affecting the validity or enforceability of such
								provision in any other jurisdiction. DECLARATION BY THE
								MERCHANT/BUSINESS ASSOCIATES I/We confirm that I/We will be held
								responsible and I/We will pay the security deposit or any such
								sum / charges due from me/us for utilizing the Platform/
								services of provided to me/us by PSWITCH SERICES PVT LTD
								(&ldquo;PSPL&rdquo;) having its Corporate office at C2 Sector-1
								Noida 201301. In case of any default of payment I/We expressly
								authorize PSPL to debit my/our account No
								--------------------------- of --------------------------------
								Bank which is being issued to PSWITCH SERICES PVT LTD. I/We
								hereby declare and submit &bull; i. I/We have not been found
								guilty of any unsound mind by any competent authority and
								declared/adjudicated as insolvent by any competent court; &bull;
								ii. I/We have not been found guilty of any criminal offence by
								any court of competent jurisdiction; &bull; iii. I/We have
								neither been found guilty of any criminal offences in the course
								of any investigation nor have I participated in or connived at
								any fraud, dishonesty or misrepresentation against anyone.
								&bull; iv. I/We have not violated the code of conduct of any
								bank or declared a willful defaulter by any bank or/financial
								institution. &bull; v. I/We promise not to share the customer
								details with others and use only for the purpose of canvassing
								business of PSPL &bull; vi. The terms and condition of the
								Agreement shared by PSPL has been read by me and I/We accept the
								same as binding upon me. &bull; vii. I/We have all the necessary
								permission and I am legally allowed to do business at the
								above-mentioned address/premises &bull; viii. I/We hereby
								irrevocably and unconditionally undertake to indemnify and keep
								PSPL Indemnified against all or any loss, damage, cost,
								expenses, penalties and charges that may be incurred by and/or
								caused to PSPL arising out of appointing as Merchant/Business
								Associates I hereby declare that all the particulars given
								herein are true, correct and complete to the best of my
								knowledge and belief, the documents submitted along with this
								application are genuine and I am not providing this form in
								contravention of any act, Rules, Regulations or any statute or
								legislation or any notification, Directions issued by any
								governmental or statutory authority from time to time. PSWITCH
								MERCHANT/BUSINESS ASSOCIATES AGREEMENT This agreement, which
								includes the Standard Terms (&ldquo;Agreement&rdquo;), is
								entered at NOIDA on this [ ] day of [ ], 2020 BETWEEN
								&#8230;&#8230;&#8230;&#8230;&#8230; (hereinafter referred to as
								the &ldquo;Merchant/Business Associates&rdquo;, which expression
								shall, unless repugnant to the context or meaning thereof, be
								deemed to include its legal heirs, successors, affiliates,
								executors and permitted assigns) of the FIRST PART; AND PSWITCH
								SERICES PVT LTD, a company incorporated under the Companies Act,
								2013, having its corporate office at New C2 Sec-1 Noida 201301
								(hereinafter referred to as, &ldquo;PSPL&rdquo; which expression
								shall, unless it be repugnant to the context or meaning thereof,
								be deemed to mean and include all its successors and permitted
								assigns) shall constitute the SECOND PART. The Merchant/Business
								Associates and PSPL may be referred to as the
								&ldquo;Party&rdquo; individually and as the
								&ldquo;Parties&rdquo; collectively, as the context may require.
								WHEREAS: &bull; A. PSPL owns and operates an online portal, a an
								integrated android application named PSPL
								(&ldquo;Application&rdquo;) and a website located at the
								URLhttps://www.pswitch.in.net/ (&ldquo;Website&rdquo;), enabling
								Merchant/Business Associatess to register and offer multiple
								services like Payments Services, Banking Services, Bill
								payments, Recharges, Money Transfer services or any other
								services being provided by this platform to their end consumers
								(the Application and the Website are hereinafter collectively
								referred to as the &ldquo;Platform&rdquo;); &bull; B. The
								Merchant/Business Associates is a reputed entity having its own
								business setup and infrastructure facility and is desirous of
								using the Platform to offer such services and has therefore,
								enrolled as a Business Facilitator on the Platform by completing
								the forms prescribed to this end by PSPL on the Platform
								(&ldquo;Merchant/Business Associates Registration Form &rdquo;);
								and &bull; C. Prior to initiating activity on the Platform and
								as a part of the registration process, PSPL requires the
								Merchant/Business Associates&rsquo;s assent to the terms and
								conditions detailed in this Agreement. HENCE THIS AGREEMENT IS
								NOW MADE AND THE PARTIES HERETO AGREE AS FOLLOWS: 1. DEFINITIONS
								In addition to the terms defined in the Standard Terms as set
								out [www.pswitch.in.net], the following terms shall have the
								meanings ascribed below: o 1.1 &ldquo;Android Device&rdquo;
								shall mean a smartphone, tablet PC, e-book reader or any type of
								mobile device that requires an &ldquo;Android operating
								system&rdquo;. o 1.2 &ldquo;End User(s)&rdquo; shall mean
								consumers availing multiple services made available on the
								Platform through the Business Facilitator; o 1.3
								&ldquo;Merchant/Business Associates Panel / Merchant/Business
								Associates Portal&rdquo; shall mean a web portal on the Platform
								provided by PSPL to the Merchant/Business Associates with a
								unique login and password to update the Merchant/Business
								Associates Details thereon; &ldquo;Prepaid Account&rdquo; shall
								mean PSPL Merchant/Business Associates Portal which is generated
								upon registration on the Platform and which is required to be
								funded upto the limit available to the Merchant/Business
								Associates for making payments through that account to various
								services for and on behalf of the End User(s). o 1.4
								&ldquo;Service Charge&rdquo; shall mean amount paid by End User
								to the Merchant/Business Associates which shall be
								non-refundable;</p></li>

						<li><p>2. COMPLETION OF MERCHANT/BUSINESS ASSOCIATES
								REGISTRATION 2.1 As a part of the registration process, the
								Merchant/Business Associates represents that: o 2.1.1. It has
								completed the Merchant/Business Associates Registration Form
								(MRF) and provided other relevant details as required by PSPL;
								and o The representative authorized by it for carrying out the
								registration on the Platform is: &#61607; (i) competent to
								contract, &#61607; (ii) at least eighteen (18) years of age,
								&#61607; (iii) of sound mind; and &#61607; (iv) not disqualified
								from entering into a lawful contract under any law in India.
								&#61607; (v) not found guilty of any criminal offence by any
								court of competent jurisdiction &#61607; (vi) not violated the
								code of conduct of any bank or declared a willful defaulter by
								any bank or/financial institution o 2.1.3. It has provided PSPL
								with its particulars including, but not limited to, name,
								contact details, email address, account details, PAN No., GST
								registration, Aadhar Card and other compliance related details
								through the MRF and that such information is true and correct as
								on date (&ldquo;Merchant/Business Associates Details&rdquo;).</p></li>

						<li><p>3. Merchant/Business Associates Panel o 2.2.1. The
								Merchant/Business Associates shall be responsible for
								maintaining the confidentiality of the Merchant/Business
								Associates Panel and the information provided therein and shall
								be fully responsible for all activities that occur under the
								Merchant/Business Associates Panel. o 2.2.2. The
								Merchant/Business Associates undertakes to: &#61607; (i)
								immediately notify PSPL of any unauthorized use of its account
								information or any other breach of security, and &#61607; (ii)
								Ensure that it exits from the Merchant/Business Associates Panel
								at the end of each session. o 2.2.3. As a Business Facilitator,
								the Merchant/Business Associates shall not transfer / sell /
								trade the Merchant/Business Associates Panel to any other person
								or entity. o 2.2.4. The Merchant/Business Associates shall be
								held liable for losses incurred by PSPL or any other user of, or
								visitor to, the Platform due to authorized or unauthorized use
								of the Merchant/Business Associates Panel as a result of the
								failure of the Merchant/Business Associates to keep the
								Merchant/Business Associates Panel and the account information
								secure, absolute, correct and confidential. 4. PSPL reserves the
								right to determine the Merchant/Business Associates who may sell
								on the Platform. PSPL also reserves the right to suspend access
								of Business Facilitators to the Platform and the
								Merchant/Business Associates Panel, or to terminate such access
								granted under this Agreement. PSPL also reserves the right to
								take down or delist any Merchant/Business Associates Details
								displayed on the Platform. 5. The Merchant/Business Associates
								shall at all times ensure that the Merchant/Business Associates
								Details displayed on the Merchant/Business Associates Panel
								and/or the Platform are accurate and not misleading in any way.
								Any claims due to inaccurate information displayed on the
								Merchant/Business Associates Panel/Platform by the
								Merchant/Business Associates shall be the sole responsibility of
								the Merchant/Business Associates.</p></li>

						<li><p>6. PAYMENT TERMS o In the event that the End User
								opt for any services as available on Platform through the
								Merchant/Business Associates and opts to pay the
								Merchant/Business Associates through any other payment mechanism
								through the Platform, PSPL shall intimate the Merchant/Business
								Associates of receipt of the payment, through the Platform. o
								Merchant/Business Associates agrees that the Platform will work
								on prepaid mode only for which a Declaration as per format
								available on [https://www.pswitch.in.net] is required to be
								separately given upon signing of this Agreement o
								Merchant/Business Associates is required to keep his Prepaid
								Account funded initially with security deposit amount upon
								registration and maintain such limit at all time. o
								Merchant/Business Associates agrees to use the Platform for all
								payment transaction with prescribed guidelines for the sale of
								any of the products/services through the Platform only and
								further agree not to use the Platform for any unlawful purpose.
								o The Merchant/Business Associates agrees to pay its share of
								any government taxes / GST on the income/revenue earned from the
								End User(s) from any transaction performed on the Platform,
								irrespective of any TDS /Taxes being deducted by PSPL from the
								payment made to the Merchant/Business Associates on any specific
								service o In case PSPL provides the Android Device to the
								Merchant/Business Associates, then the Merchant/Business
								Associates unconditionally agrees to pay any Monthly service fee
								/ Charges / EMI for such device which was agreed between the
								Parties before provision of such Android Device</p></li>

						<li><p>7. OBLIGATIONS OF THE MERCHANT/BUSINESS ASSOCIATES
								o The Merchant/Business Associates shall maintain records of all
								payments received through PSPL, on behalf of the End User(s) as
								may be required for audit and regulatory purposes and for the
								Platform&rsquo;s customer service purposes. o During the Term,
								the Merchant/Business Associates will appoint a representative,
								who shall be PSPL&rsquo;s point of contact for any and all
								matters related to this Agreement. o The Merchant/Business
								Associates shall be solely responsible and liable for the
								resolution of any complaints and queries of End User(s) with
								respect to the services provided or products purchased, delayed
								delivery or non-delivery of such products or any complaints with
								respect to the quality or quantity of the products delivered. o
								The Merchant/Business Associates shall not describe itself as an
								agent or representative of PSPL or make any representations to
								any End User(s) or any third party or give any warranties which
								are of such a nature that PSPL may be required to undertake, or
								be liable for, whether directly or indirectly. o The
								Merchant/Business Associates shall be responsible for payment of
								its own taxes and any taxes/levies/cess applicable on the
								performance of this Agreement by it, and shall indemnify and
								hold harmless, PSPL, from any liability in this regard. o The
								Merchant/Business Associates represents that the
								Merchant/Business Associates shall not, at any time, use any
								intellectual property of PSPL in any manner without the prior
								written consent of PSPL. The Merchant/Business Associates also
								represents that the Merchant/Business Associates shall not
								purchase any PSPL met tags on the Internet without the prior
								written consent of PSPL. o The Merchant/Business Associates
								represents and warrants that if Merchant/Business Associates is
								found indulging in providing of false or misleading information
								or uses the Platform for any unlawful activity then PSPL may
								initiate civil and/or criminal proceedings against the
								Merchant/Business Associates and PSPL may, at its sole
								discretion, suspend, block, restrict, or cancel the
								Merchant/Business Associates&rsquo;s registration on the
								Platform and /or disqualify / bar the Merchant/Business
								Associates from using the Platform and/or the Merchant/Business
								Associates Panel. IN WITNESS WHEREOF, the Parties have agreed to
								all of the above terms, and has read and confirmed standard
								terms and conditions as available on [www.pswitch.in.net] and
								all schedules attached thereto, each of which is incorporated
								herein by this reference and is a part of this Agreement. I have
								read and agree to the Privacy Policy</p></li>
					</ol>
					<p>ACCEPT</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<!-- <button type="button" class="btn bg-primary">Save changes</button> -->
				</div>
			</div>
		</div>
	</div>
</div>