<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pSwitch</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico"/>

    <div th:replace="fragment/StyleFragment :: style"></div>

</head>

<body onload="setMinDate()">

<div th:replace="fragment/topnav :: navbar"></div>

<!-- Page content -->
<div class="page-content">

    <div th:replace="fragment/mainSidebar :: sidebar"></div>

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4>
                        <i class="icon-arrow-left52 mr-2"></i> Add User
                    </h4>
                    <a href="#" class="header-elements-toggle text-default d-md-none"><i
                            class="icon-more"></i></a>
                </div>
            </div>
        </div>
        <!-- /page header -->

        <!-- Content area -->
        <div class="content">

            <!-- Form inputs -->
            <div class="card">
                <div class="card-body">
                    <div th:if="${errorMsg}">
                        <div class="alert alert-danger">
                            <p th:text="${errorMsg}"></p>
                        </div>
                    </div>

                    <div th:if="${confirmationMessage}"
                         class="alert alert-success" role="alert"
                         th:text="${confirmationMessage}"></div>

                    <div th:if="${errors}" class="alert alert-danger" role="alert">
                        <table>
                            <tr th:each="error : ${errors}">
                                <td class="text-left" th:text="${'* '+ error}">data</td>
                            </tr>
                        </table>
                    </div>

                    <form id="associateForm" action="#" th:action="@{/user/save}"
                          method="post">
                        <!-- Profile info -->
                        <div class="card">
                            <div class="card-header header-elements-inline">
                                <h5 class="card-title">User information</h5>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>First Name <span class="text-danger">*</span></label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <input type="text" class="form-control form-control-lg"
                                                       placeholder="First Name" id="firstName" name="firstName" maxlength="100"
                                                       th:value="${addUser!=null ? addUser.firstName : ''}" required
                                                       autofocus="autofocus">
                                                <div class="form-control-feedback">
                                                    <i class="icon-user-check text-blue-800"></i>
                                                </div>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Last Name <span class="text-danger">*</span></label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <input type="text" class="form-control form-control-lg"
                                                       placeholder="Last Name" id="lastName" name="lastName" maxlength="100"
                                                       th:value="${addUser!=null ? addUser.lastName : ''}"
                                                       autofocus="autofocus">
                                                <div class="form-control-feedback">
                                                    <i class="icon-user-check text-blue-800"></i>
                                                </div>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>User Role <span class="text-danger">*</span></label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <select class="form-control select-search"
                                                        data-placeholder="Select Role"
                                                        name="role" id="role" data-fouc>
                                                    <option></option>
                                                    <optgroup label="Select Role">
                                                        <option th:each="item : ${roles}"
                                                                th:selected="${(addUser !=null && addUser.role !=null && !#strings.isEmpty(addUser.role) and addUser.role == item.roleCode)}"
                                                                th:value="${item.roleCode}" th:text="${item.roleName}"/>
                                                    </optgroup>
                                                </select>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Mobile No# <span class="text-danger">*</span></label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <input type="text" class="form-control form-control-lg"
                                                       placeholder="Mobile Number as per Aadhaar card number" maxlength="10"
                                                       id="mobileNumber" name="mobileNumber"
                                                       th:value="${addUser!=null ? addUser.mobileNumber : ''}" required
                                                       autofocus="autofocus">
                                                <div class="form-control-feedback">
                                                    <i class="icon-mobile text-blue-800"></i>
                                                </div>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${masterDistributors!=null && user.roles.roleCode != 'AD'}"
                                     class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Master Distributor</label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <select class="form-control form-control-lg select-search"
                                                        data-placeholder="Select Master Distributor"
                                                        name="masterDistributor" id="masterDistributor" data-fouc>

                                                    <optgroup label="Select Master Distributor">
                                                        <option value="">None</option>
                                                        <option th:each="item : ${masterDistributors}"
                                                                th:selected="${(addUser !=null && addUser.masterDistributor !=null && !#strings.isEmpty(addUser.masterDistributor) and addUser.getMSCode() == item.key)}"
                                                                th:value="${item.key}" th:text="${item.value}"/>
                                                    </optgroup>
                                                </select>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Distributor</label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <select class="form-control select-search"
                                                        data-placeholder="Select Master Distributor"
                                                        name="distributor" id="distributor" data-fouc>
                                                    <optgroup label="Select Distributor">
                                                        <option value="">None</option>
                                                        <option th:each="item : ${distributors}"
                                                                th:selected="${(addUser !=null && addUser.distributor !=null && !#strings.isEmpty(addUser.distributor) and addUser.getDSCode() == item.key)}"
                                                                th:value="${item.key}" th:text="${item.value}"/>
                                                    </optgroup>
                                                </select>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <label>Date of Birth<span class="text-danger">*</span></label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <input class="form-control" id="dob" required="required"
                                                   name="dob" type="date" th:value="${addUser!=null ? addUser.dob : ''}">
                                                <div class="form-control-feedback">
                                                    <i class="fa fa-calendar text-blue-800"></i>
                                                </div>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label>Email <span class="text-danger">*</span></label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <input type="text" id="email" name="email"
                                                th:value="${addUser!=null ? addUser.email : ''}" maxlength="50"
                                                required="required" class="form-control">
                                                <div class="form-control-feedback">
                                                    <i class="fa fa-envelope text-blue-800"></i>
                                                </div>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- <input type="hidden" id="userId" name="userId"
                                    th:value="${user.userId}"> <input type="hidden"
                                    id="selectedCountry" name="selectedCountry"
                                    th:value="${user.country}"> <input type="hidden"
                                    id="selectedState" name="selectedState"
                                    th:value="${user.state}"> <input type="hidden"
                                    id="selectedCity" name="selectedCity" th:value="${user.city}"> -->


                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Address line <span class="text-danger">*</span></label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <input type="text" id="address" name="address"
                                                       th:value="${addUser!=null ? addUser.address : ''}" maxlength="100"
                                                       required="required" class="form-control">
                                                <div class="form-control-feedback">
                                                    <i class="fa fa-address-card text-blue-800"></i>
                                                </div>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>
                                        <!--                                        <div class="col-md-6">-->
                                        <!--                                            <label>Country <span class="text-danger">*</span></label>-->
                                        <!--                                            <select class="form-control" required="required" name="country"-->
                                        <!--                                                    id="country">-->
                                        <!--                                                <option th:each="item : ${countries}" th:value="${item.id}"-->
                                        <!--                                                        th:text="${item.name}"/>-->
                                        <!--                                            </select>-->
                                        <!--                                        </div>-->
                                        <div class="col-md-6">
                                            <label>ZIP code <span class="text-danger">*</span></label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <input type="text" id="zipcode" name="zipcode" required="required"
                                                       th:value="${addUser!=null ? addUser.zipcode : ''}"
                                                       onkeyup="zipcodeCheck()"
                                                       class="form-control">
                                                <div class="form-control-feedback">
                                                    <i class="icon-pushpin text-blue-800"></i>
                                                </div>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>State/Province <span class="text-danger">*</span></label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <select class="form-control select-search"
                                                        data-placeholder="Select State"
                                                        name="state" id="state" data-fouc>
                                                    <option></option>
                                                    <optgroup label="Select State">
                                                        <option th:each="item : ${states}"
                                                                th:selected="${(addUser !=null && addUser.state !=null && !#strings.isEmpty(addUser.state) and addUser.getStateCode() == item.id)}"
                                                                th:value="${item.id}" th:text="${item.name}"/>
                                                    </optgroup>
                                                </select>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>City <span class="text-danger">*</span></label>
                                            <div class="form-group form-group-feedback form-group-feedback-left">
                                                <select class="form-control select-search"
                                                        data-placeholder="Select City"
                                                        name="city" id="city" data-fouc>
                                                    <option></option>
                                                    <optgroup label="Select City">
                                                        <option th:each="item : ${cities}"
                                                                th:selected="${(addUser !=null && addUser.city !=null && !#strings.isEmpty(addUser.city) and addUser.getCityCode() == item.id)}"
                                                                th:value="${item.id}" th:text="${item.name}"/>
                                                    </optgroup>
                                                </select>
                                                <small class="form-text text-danger"></small>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">


                                        <!-- <div class="col-md-6">
                                            <label>Upload profile image</label> <input accept="image/*"
                                                type="file" name="imgProfile" id="imgProfile"
                                                class="form-input-styled"> <span
                                                class="form-text text-muted">Accepted formats: gif,
                                                png, jpg. Max file size 2Mb</span>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button id="addAssociate" type="submit" class="btn btn-primary">Save
                                        changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /form inputs -->

        </div>
        <!-- /content area -->


        <!-- Footer -->
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle"
                        data-toggle="collapse" data-target="#navbar-footer">
                    <i class="icon-unfold mr-2"></i> Footer
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-footer">
                <span class="navbar-text"> &copy; 2020. </span>

                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item"><a href="#" class="navbar-nav-link"
                                            target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
                    <li class="nav-item"><a href="#" class="navbar-nav-link"
                                            target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>

                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item"><a href="#" class="navbar-nav-link"
                                            target="_blank"><i class="icon-facebook color-fb "></i> </a></li>

                    <li class="nav-item"><a href="#" class="navbar-nav-link"
                                            target="_blank"><i class="icon-twitter text-blue"></i> </a></li>

                    <li class="nav-item"><a href="#" class="navbar-nav-link"
                                            target="_blank"><i class="icon-youtube text-red"></i> </a></li>
                </ul>
            </div>
        </div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->
<script src="/js/ps/user.js"></script>
<script>
    $(document).ready(function () {
        $('#role').select2();
        $('#state').select2();
        $('#city').select2();
        $('#masterDistributor').select2();
        $('#distributor').select2();
    });
</script>
</body>

</html>