<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>pSwitch - Welcome Retailer</title>

	<div th:replace="fragment/StyleFragment :: style"></div>
</head>

<body>

	<div th:replace="fragment/topnav :: navbar"></div>

	<!-- Page content -->
	<div class="page-content">
		<div th:replace="fragment/mainSidebar :: sidebar"></div>

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4>
							<i class="icon-arrow-left52 mr-2"></i> Dashboard
						</h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>
				</div>
			</div>
			<!-- /page header -->

			<!-- Content area -->
			<div class="content">


				<div class="row">

					<div class="col-lg-3">

						<!-- Today's revenue -->
						<div class="card bg-indigo">
							<div class="card-body">
								<div class="d-flex">
									<h3 class="font-weight-semibold mb-0">₹ 0</h3>
									<div class="list-icons ml-auto">
										<a class="list-icons-item" data-action="reload"></a>
									</div>
								</div>

								<div>
									Money In

								</div>
							</div>


						</div>
						<!-- /today's revenue -->

					</div>

					<div class="col-lg-3">

						<!-- Today's revenue -->
						<div class="card bg-pink ">
							<div class="card-body">
								<div class="d-flex">
									<h3 class="font-weight-semibold mb-0">₹ 0</h3>
									<div class="list-icons ml-auto">
										<a class="list-icons-item" data-action="reload"></a>
									</div>
								</div>

								<div>
									Money Out

								</div>
							</div>


						</div>
						<!-- /today's revenue -->

					</div>

					<div class="col-lg-3">

						<!-- Today's revenue -->
						<div class="card bg-teal">
							<div class="card-body">
								<div class="d-flex">
									<h3 class="font-weight-semibold mb-0">₹ 0</h3>
									<div class="list-icons ml-auto">
										<a class="list-icons-item" data-action="reload"></a>
									</div>
								</div>

								<div>
									Receivable

								</div>
							</div>


						</div>
						<!-- /today's revenue -->

					</div>

					<div class="col-lg-3">

						<!-- Today's revenue -->
						<div class="card bg-primary">
							<div class="card-body">
								<div class="d-flex">
									<h3 class="font-weight-semibold mb-0">₹ 0</h3>
									<div class="list-icons ml-auto">
										<a class="list-icons-item" data-action="reload"></a>
									</div>
								</div>

								<div>
									Payble

								</div>
							</div>


						</div>
						<!-- /today's revenue -->

					</div>

				</div>



				<div class="row">
					<div class="col-md-12">
						<div class="actions clearfix text-right mb-3">

							<button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_mny"><i
									class="fas fa-rupee-sign mr-1"></i> Add Money </button>

						</div>
					</div>
				</div>

				<div class="row mb-3">

					<div class="col-md-8">
						<div class="card">
							<div class="card-header bg-light pb-0 pt-sm-0 header-elements-sm-inline">
								<h6 class="card-title font-weight-bold">Transaction</h6>
								<div class="header-elements">
									<ul class="nav nav-tabs nav-tabs-highlight card-header-tabs">
										<li class="nav-item">
											<a href="#card-tab1" class="nav-link active" data-toggle="tab">
												<i class="icon-list-numbered mr-2"></i>
												Recent
											</a>
										</li>
										<li class="nav-item">
											<a href="#card-tab2" class="nav-link" data-toggle="tab">
												<i class="icon-list2 mr-2"></i>
												Receivable
											</a>
										</li>
										<li class="nav-item">
											<a href="#card-tab3" class="nav-link" data-toggle="tab">
												<i class="icon-list2 mr-2"></i>
												Payble
											</a>
										</li>

									</ul>
								</div>
							</div>

							<div class="card-body tab-content">
								<div class="tab-pane fade show active" id="card-tab1">

									<div class="table-responsive mb-3">
										<table class="table table-scrollable table-striped table-bordered">

											<tbody>

												<tr>
													<th>Services</th>
													<th>Amount</th>
													<th>Status</th>
													<th>Date</th>
												</tr>
												<tr>
													<td>Bank AC Validation Free</td>
													<td>500</td>

													<td>
														<span class="badge badge-success">Approved</span>
													</td>
													<td>20 Jan 2023 15:12:31 PM</td>
												</tr>

											</tbody>

										</table>
									</div>

								</div>

								<div class="tab-pane fade" id="card-tab2">
									Receivable Table
								</div>

								<div class="tab-pane fade" id="card-tab3">
									Payble Table
								</div>

							</div>
						</div>
					</div>

					<div class="col-md-4">
						<img class="img-fluid"
							 th:src="${(banners[0].bannerImage != null && !#strings.isEmpty(banners[0].bannerImage)) ? '/files/'+banners[0].bannerImage : '/images/user.png'}"
							 th:alt="${banners[0].bannerName}">
					</div>

				</div>

				<div class="row ">
					<div class="col-md-3">
						<div class="card">
							<div class="card-body text-center">
								<i
									class="icon-book icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="card-title">Banking Services</h5>
								<a href="#" class="btn bg-primary">View All</a>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="card">
							<div class="card-body text-center">
								<i
									class="icon-book icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="card-title">Bill Payment</h5>
								<a href="#" class="btn bg-primary">View All</a>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card">
							<div class="card-body text-center">
								<i
									class="icon-book icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="card-title">Recharge</h5>
								<a href="#" class="btn bg-primary">View All</a>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card">
							<div class="card-body text-center">
								<i
									class="icon-book icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="card-title">Booking</h5>
								<a href="#" class="btn bg-primary">View All</a>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card">
							<div class="card-body text-center">
								<i
									class="icon-book icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="card-title">Online Shopping</h5>
								<a href="#" class="btn bg-primary">View All</a>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card">
							<div class="card-body text-center">
								<i
									class="icon-book icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="card-title">Fastag</h5>
								<a href="#" class="btn bg-primary">View All</a>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card">
							<div class="card-body text-center">
								<i
									class="icon-book icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="card-title">Pan Card Services</h5>
								<a href="#" class="btn bg-primary">View All</a>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="card">
							<div class="card-body text-center">
								<i
									class="icon-book icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="card-title">Insurance</h5>
								<a href="#" class="btn bg-primary">View All</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /content area -->


			<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
						data-target="#navbar-footer">
						<i class="icon-unfold mr-2"></i> Footer
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text"> &copy; 2020. </span>

					<ul class="navbar-nav ml-lg-auto">
						<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i
									class="icon-lifebuoy mr-2"></i> Support</a></li>
						<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i
									class="icon-file-text2 mr-2"></i> Docs</a></li>
					</ul>

					<ul class="navbar-nav ml-lg-auto">
						<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i
									class="icon-facebook color-fb "></i> </a></li>

						<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i
									class="icon-twitter text-blue"></i> </a></li>

						<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i
									class="icon-youtube text-red"></i> </a></li>

					</ul>
				</div>
			</div>
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>

</html>