<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Card</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

	<div class="container">
		<div class="card" style="width: 58rem;">
			<div class="card-img-actions mx-1 mt-1 doc-img-height ">
				<img class="card-img img-fluid" src="#PRODUCT_IMAGE#"
					alt="#PRODUCT_IMAGE#">
			</div>
			<div class="card-body">
				<div class="d-flex align-items-start flex-nowrap ">
					<div>
						<h5 class="font-weight-semibold mr-2 text-primary">#PRODUCT_NAME#</h5>
						<div>
							<span style="font-size: 0.8rem;">MRP: </span>
							<span><strong style="font-size: 1rem;" >#PRODUCT_MRP#</strong> </span>
						</div>
						<br>
						<span>#PRODUCT_DESCRIPTION#</span>
						<div class="text-right mt-4">
							<a href="#PRODUCT_BROCHURE_FILE#" target="_blank"
								class="btn btn-primary"> <i class="fa fa-download"></i> <span>
									Download Brochure</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
